<div class="row padded-vert-small">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><%= link_to @page.category.name, show_category_path(@page.category.handle) %></li>
    <li><%= link_to @page.title, page_path(@page.category.handle, @page.handle) %></li>
    <li class="current">Commit History</li>
  </ul>
</div>


<div class="row padded-vert-small">

  <h2><%= @page.title %> | History </h2>
  <p>Last updated at <%= @page.updated_at.to_formatted_s(:long) %></p>

  <hr>

  <% @commits.each do |commit| %>
    <div class="row padded-vert-small commit">
      <div class="medium-5 columns">
        <h3>Updated At <%= commit.updated_at.to_formatted_s(:long) %></h3>
        <h4>Updated By <%= commit.user.try(:username) || "Unknown" %></h4>
      </div>
      <div class="medium-7 columns">
        <p><i>
          <%= commit.message %>
        </i></p>
      </div>
    </div>
  <% end %>

</div>
