<div class="row padded-vert">
  <%= render template: 'layouts/alert' %>

  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/pages/<%=@category%>"><%=@category%></a></li>
    <li class="current"><a href="/pages/<%= @page.url %>"><%= @page.title %></a></li>
    <li class="current"><a href="/pages/<%= @page.url %>/history"><%= @page.title %> | History</a></li>
  </ul>

</div>


<div class="row padded-vert-small">

  <h2><%= @page.title %> | History </h2>
  <p>Last updated at <%= @page.latest_date %></p>

  <br>

  <% @page.history.each do |commit| %>
    <div class="row padded-vert-small">
      <div class="medium-5 columns">
        <h3>Updated At <%= commit.committed_date.to_formatted_s(:long) %></h3>
        <h4>Updated By <%= commit.author.name %></h4>
      </div>
      <div class="medium-7 columns">
        <p><i>
          <%= commit.message %>
        </i></p>
      </div>
    </div>
  <% end %>

</div>
