<div class="row padded-vert-small">

  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><%= link_to @page.category.name, show_category_path(@page.category.handle) %></li>
    <li class="current"><%= @page.title %></li>
  </ul>

</div>

<section class="row" id="page">

    <div class="large-9 columns padded-vert page-padding-horiz">
      <h1><%= @page.title %></h1>
      <p class="date">Updated last on <time pubdate="" datetime="<%= @page.last_updated %>"><%= @page.last_updated %></time></p>
      <%= sanitize @page.content %>
      <div class="text-center">
        <%= link_to 'This page helped', help_page_path(@page, :helped => true), method: :post, class: 'button radius center small' %>
        <%= link_to 'This page did not help', help_page_path(@page, :helped => false), class: 'button radius center small', data: { confirm: 'Please leave us some feedback in the comments, we\'ll do our best to fix the problems.' }, method: :post %>
        <p><%= @page.did_help %> people found this page helpful, <%= @page.did_not_help %> did not</p>
      </div>
      <hr>
      <%= render 'disqus' %>
    </div>

    <aside class="large-3 padded-vert padded-horiz columns" id="sidebar-single_post">
      <div class="row">
        <div class="medium-6 large-12 columns" id="sidebar-author">
            <div class="row">
                  <div class="small-4 large-12 columns">
                    <img class="img-round" src="<%= gravatar(@page.latest_committer.email) %>" alt="<%= @page.latest_committer.username %>">
                  </div>
                  <div class="small-8 large-12 columns">
                    <h4>Latest commit by <%= @page.latest_committer.username %></h4>
                    <h6>There have been <%= @page.commits.count %> commits on this page.</h6>
                    <hr>
                    <p><b>Recent Commits</b><br>
                    <%= link_to "View Full History", page_commits_path %></p>
                    <ul id="recent-commits">
                      <% @page.commits.limit(5).each do |commit| %>
                        <li><%= commit.user.username %> committed on <%= commit.updated_at.to_formatted_s(:short) %></li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </aside>

</section>
