<div class="row padded-vert">
  <%= render template: 'layouts/alert' %>

  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><%= link_to @page.category.name, category_path(@page.category) %></li>
    <li class="current"><%= @page.title %></li>
  </ul>

</div>

<div class="row padded-vert-small">
  <h2><%= @page.title %></h2>
  <% if session[:user_id] %>
    <%= link_to "Edit", edit_category_page_path(@page.category, @page) %>
    &nbsp;
    <%= link_to "History", category_page_commits_path(@page.category, @page) %>
  <% end %>
  <p>Last updated at <%= @page.updated_at %></p>
  <hr>
  <%= simple_format(@page.content) %>
</div>
