<div class="row padded-vert">
  <table class="table" style="width:100%">
    <thead>
      <td>From Handle</td>
      <td>To Handle</td>
      <td>Page</td>
      <td>&nbsp;</td>
    </thead>

    <% @redirects.each do |redirect| %>
      <tr>
        <td><%= redirect.from %></td>
        <td><%= redirect.to %></td>
        <td><%= redirect.page.title %></td>
        <td><%= link_to "Edit", edit_redirect_path(redirect) %> | <%= link_to "Delete", redirect_path(redirect), method: :delete, data: { confirm: 'Are you sure you want to delete redirect?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

