<div class="row padded-vert">

<% if !session[:user_id].nil? %> <h3 class="text-center">Article counts include only published pages</h3><% end %>

<% @categories.each do |category| %>
<div class="large-4 medium-6 small-12 columns category-panel padded-vert-small">
  <%= link_to show_category_path(category.handle) do %>
    <div class="padded-vert">
      <div class="small-4 columns text-center">
        <i class="padded-top-small fa fa-5x <%= category.fontawesome %>"></i>
      </div>
      <div class="small-8 columns">
        <h3><%= category.name %></h3>
        <p>There <%= pluralize_no_count(category.number_of_pages,'is','are') %> <%= pluralize(category.number_of_pages, "article") %> in this category</p>
        <span>Read More</span>
      </div>
    </div>
  <% end %>
</div>
<% end %>

</div>

