<div class="row padded-vert-small">

  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="current"><%= @category.name %></li>
  </ul>

</div>

<div class="row padded-bottom">

<div class="padded-bottom">
<%= will_paginate @pages %>
</div>

<% @pages.each do |page| %>

  <section class="row blog-tease">
    <%= link_to page_path(@category.handle, page.handle), :title => 'Read more about ' + page.title do %>
      <div>

        <div class="medium-3 text-center hide-for-small columns">
            <img class="img-round " src="http://cdn.shopify.com/s/files/1/0223/1913/t/8/assets/slideshow_1.jpg?15231" alt="">
            <% if !session[:user_id].nil? %>
              <h3>Published: <%= page.published %></h3>
            <% end %>
        </div>

        <div class="medium-9 columns">
          <h2><%= page.title %></h2>
          <h3><small>Posted on <time pubdate="" datetime="<%= page.last_updated %>"><%= page.last_updated %></time> - by <%= page.latest_committer.username %></small></h3>
          <p class="preview">
            <%= page.preview %>
          </p>
          <span>Read More</span>
        </div>

      </div>
    <% end %>
  </section>

<% end %>

<div class="padded-vert">
<%= will_paginate @pages %>
</div>

<% if @pages.count == 0 %>
<div class="small-12 columns text-center no-pages">
  <p><i class="fa fa-files-o fa-5x"></i></p>
  <h5>There doesn't seem to be any pages here yet.</h5>
  <p><%= link_to 'Return Home', root_url %></p>
</div>
<% end %>

</div>
