<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="sub-nav">
      <li><%= link_to "New Category", new_category_path %></li>

      <% if @category && !@category.new_record? && @page.nil? %>
          <li><%= link_to "Edit Category", edit_category_path(@category) %></li>
          <li><%= link_to "Delete Category", category_path(@category), method: :delete, :data => { confirm: 'Are you sure you want to delete category with name "' + @category.name + '"?' } %></li>
          <li><%= link_to "New Page", new_category_page_path(@category) %></li>
      <% end %>

      <% if @page && !@page.new_record? && @page.category %>
          <li><%= link_to "New Page", new_category_page_path(@page.category) %></li>
          <li><%= link_to "Edit Page", edit_category_page_path(@page.category, @page) %></li>
          <li><%= link_to "Delete Page", category_page_path(@page.category, @page), method: :delete, :data => { confirm: 'Are you sure you want to delete page with title "' + @page.title + '"?' } %></li>
      <% end %>

      <li class="hide-for-medium-down" ><a href="/logout" title="logout">Logout</a></li>
    </ul>
  </nav>
</div>


