<html class=" js no-touch svg inlinesvg svgclippaths no-ie8compat" lang="en" style="">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <title>Code For Kids Wiki</title>

    <%= render template: 'layouts/meta' %>

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%=javascript_include_tag "vendor/modernizr", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- START HEADER -->
    <header class="wrap bg-black menu">
      <div class="row">
        <div class="columns">
          <a href="/" class="left" id="hdr-logo" title="Go to Code For Kids Homepage">
            <%= image_tag('logo.png') %>
          </a>
          <%= render template: 'layouts/menu' %>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- START CONTENT -->
    <div class="content">

      <!-- START SPLASH HEADER -->
      <section class="page-splash splash-about text-center wrap">
        <div class="row">
          <div class="columns">
            <h1>Code For Kids Wiki</h1>
            <h4 style="color:white">This is a free wiki system for Code For Kids Information</h4>
            <%= form_tag("/search", method: "get") do %>
              <div class="large-12 columns">
                <div class="row collapse">
                  <div class="medium-11 small-10 columns">
                    <%= text_field_tag :query, "", placeholder: "Search the Code For Kids Wiki..." %>
                  </div>
                  <div class="medium-1 small-2 columns">
                    <%= button_tag(type: "submit", class: "button postfix alert") do %>
                        <i class="fa fa-search"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>
      <!-- END SPLASH HEADER -->

      <% if session[:user_id] %>
              <%= render template: 'layouts/admin_bar' %>
      <% end %>

      <div class="content">
        <div class="row">
          <div class="columns">
            <div id="st-results-container"></div>
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
     <!-- END CONTENT -->

    <!-- START FOOTER -->
    <%= render template: 'layouts/footer' %>
    <!-- END FOOTER -->

    <script>
      $('#admin-menu').slicknav({ label: 'ADMIN', prependTo: '.contain-to-grid' });
      $('#menu').slicknav();
    </script>

  </body>

</html>
